body{
    font-family: Arial, Helvetica, sans-serif;
}

.form-wrapper{
    margin-left: 3%;
}

form h1{
    color: #E6EBE0;
}

.btn {
    background: #E6EBE0;
    font-family: Arial;
    color: #5D576B;
    font-size: 18px;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
    border: 1px solid #E6EBE0;
}

.btn:hover, input[type=hidden]::selection {
    background: #9BC1BC;
    text-decoration: none;
    border: 1px solid #9BC1BC;
  }

.single-app{
    margin:2%;
}

/* css grid attempt */
.grid-applicant {
    grid-area: applicant;
    margin:2%;
}
  
.grid-container {
    grid-template-columns: 24% 24% 24% 24%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
        "applicant applicant applicant applicant";
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    border: none;
    background-color: white;
    margin-right: 30px;
}

.app-top {
    display: flex;
    justify-content: space-between;
    margin: 3% 3% 3% 2%;
    font-size: 16px;
}