{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hi Jeremiah!</title>
  <link rel="stylesheet" type="text/css" href="{% static 'applications/styles.css' %}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>

  {% block content %}
    <div>
      <h2>Application Formatter</h2>
    </div>
    <form class="" action="{% url 'applications:upload_csv' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}    
      <div>
        <div>
          <input type="file" name="myfile">
        </div>
        <br>
        <div>
          <input type="date" name="application_date">
        </div>
        <br>
        <div class="col-sm-10">
          <button type="submit" name="button">Upload File
          </button>
        </div>
      </div>
    </form>
  {% endblock %}

</body>
</html>
