{% extends 'applications/index.html' %}

{% block content %} 

<div class="app-top">
    <div>
        <select id="TCD"></select>
    </div>
    <div class="app-name">
        {{applicantName}}
    </div>
    <div class="appt-details">
        APPT-<div id="date"></div>@<select id="time"></select>
    </div>
    <div class="line">
        <div class="appt-details">
            <select id="cohort"></select>
        </div>
        <div class="appt-details">
            <select id="tuition"></select>
        </div>
        <div class="appt-details">
            <select id="local"></select>
        </div>
    </div>
</div>

{% for app in singleApp  %}
    <div class="single-app">
    {% for q, a in app  %}
        <div>
            <strong>{{q}}</strong>
        </div>
        <div>
            {{a}}
        </div>

        <br>
    {% endfor %}
    </div>
    
{% endfor %}

{% endblock %}